#ingredients {
  background-color: red;
  width:300px;
  margin-left: 50%;
  position: absolute;
  place-items: center;
  display: grid;
}

#wizards{
  float: left;
  width: 48%;
  margin: 1%;
  box-sizing: border-box;

  padding: 20px;
  border: 1px solid #ddd;
}
#houses{
  float: left;
  width: 48%;
  margin: 1%;
  box-sizing: border-box;

  padding: 20px;
  border: 1px solid #ddd;
}
